<module>
	<rawname>phonebook</rawname>
	<repo>extended</repo>
	<name>Phonebook</name>
	<version>2.9.0.2</version>
	<publisher>FreePBX</publisher>
	<license>GPLv2+</license>
	<description>Provides a phonebook for FreePBX, it can be used as base for Caller ID Lookup and Speed Dial</description>
	<type>tool</type>
	<category>System Administration</category>
	<menuitems>
		<phonebook needsenginedb="yes">Asterisk Phonebook</phonebook>
	</menuitems>
	<location>release/2.9/phonebook-2.9.0.2.tgz</location>
	<md5sum>cac34ab94378d9817a1d666a4e8ed964</md5sum>
	<changelog>
		*2.9.0.2* spelling, localizations
		*2.9.0.1* set reposoitory
		*2.9.0.0* 2.9 Update
		*2.8.0.1* #4590
		*2.8.0.0* #4309
		*2.7.0.0* localizations
		*2.6.0.0* localizations, misc
		*2.5.0.2* localization changes, Swedish
		*2.5.0.1* #3009 spelling
		*2.5.0* #1821, #2845 tabindex
		*2.4.0.1* #2843 Russian Translation
		*2.4.0* CHANGELOG TRUNCATED See SVN Repository
	</changelog>
</module>
