<module>
	<rawname>phonebook</rawname>
	<name>Phonebook</name>
	<version>1.0.4</version>
	<type>tool</type>
	<category>Module</category>
	<menuitems>
		<phonebook>Asterisk Phonebook</phonebook>
	</menuitems>
	<location>release/phonebook-1.0.4.tgz</location>
	<info>http://freepbx.org/wiki/AsteriskPhonebook</info>
</module>
